html
---
layout: page
title: About Me
permalink: /about/
---

<div class="about-content">
    <h1>About Me</h1>
    
    <p>An interior and spatial designer with a strong interest in adaptive reuse and the emotional connection between people and space. My design practice focuses on transforming existing structures and forgotten urban sites into spaces that evoke memory,interaction, and inclusivity. I value material honesty, sensory experience, and sustainable design approaches that respect both the past and the environment.</p>
    
    <h2>Education</h2>
    
    <div class="education-item">
        <strong>University of Edinburgh</strong> (2024-2025)<br>
        <em>MA-Interior, Architecture and Spatial Design</em><br>
        Core Courses: Interior Architectural Detailing, Small-scale Urban Intervention, Lighting Design
    </div>
    
    <div class="education-item">
        <strong>Beijing Forestry University</strong> (2020-2024)<br>
        <em>BA-Environmental Design</em><br>
        Core Courses: Architectural Interior Drafting, Interior Design, Architectural Design, Landscape Design
    </div>
    
<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>


